##Loading the Data

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
tf.compat.v1.enable_eager_execution()

import keras
from keras import backend as K
from keras.models import Sequential, Model
from keras.layers import Activation, Dense, Dropout
from keras.layers import BatchNormalization, Input, Lambda
from keras.layers import Embedding, Flatten, dot, StringLookup
from keras import regularizers
from keras.losses import mse, binary_crossentropy

import pandas as pd
import numpy as np
from zipfile import ZipFile
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from pathlib import Path
import matplotlib.pyplot as plt

artist_rankings = 'https://raw.githubusercontent.com/hazelwillows/cs50x/main/artist_rankings.csv'
r = pd.read_csv(artist_rankings)
del r["Unnamed: 0"]
r.head()

,Selena Gomez,BTS,Rihanna,Beyonce,Ariana Grande,Carrie Underwood,Justin Bieber,Miley Cyrus,Conan Gray,NewJeans,...,Harry Styles,Imagine Dragons,J. Cole,John Legend,Kevin Gates,Maroon 5,Michael Jackson,Nicki Minaj,Rod Wave,Young Slo-be
0,NaN,NaN,7.0,10.0,9.0,4.0,7.0,6.0,4.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,9.0,2.0,NaN,9.0,NaN,7.0,5.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,3.0,1.0,3.0,1.0,7.0,8.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,6.0,4.0,7.0,7.0,2.0,NaN,10.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,8.0,7.0,9.0,6.0,2.0,NaN,NaN,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
songs = 'https://raw.githubusercontent.com/hazelwillows/cs50x/main/songs.csv'
s = pd.read_csv(songs)
s = s.set_index("Unnamed: 0")
s.index.names = ['artist']
s.head()

,1,2,3,4,5,6,7,8,9,10
artist,,,,,,,,,,
Selena Gomez,Calm Down,Ice Cream,Love You Like a Love Song,Same Old Love,Lose You to Love Me,Wolves,The Heart Wants What It Wants,Come & Get It,People You Know,Baila Conmigo
BTS,Run BTS,Dynamite,Permission to Dance,Butter,Yet To Come,MIC Drop,Fire,FAKE LOVE,Boy With Luv,Black Swan
Rihanna,Umbrella,Diamonds,Love on the Brain,Woo,Love the Way You Lie,We Found Love,Stay,Dancing in the Dark,Work,Only Girl
Beyonce,CUFF IT,Halo,Crazy in Love,Partition,Single Ladies,ALIEN SUPERSTAR,BREAK MY SOUL,Beautiful Liar,Run the World,Pretty Hurts
Ariana Grande,positions,Bang Bang,7 Rings,God is a woman,Stuck With U,Side to Side,Into You,Santa Tell Me,no tears left to cry,Boyfriend

In [ ]:
artists = {}
i = 0
for name in list(s.index):
  artists[name] = i
  i += 1

print(artists)

{'Selena Gomez': 0, 'BTS': 1, 'Rihanna': 2, 'Beyonce': 3, 'Ariana Grande': 4, 'Carrie Underwood': 5, 'Justin Bieber': 6, 'Miley Cyrus': 7, 'Conan Gray': 8, 'NewJeans': 9, 'Camila Cabello': 10, 'Nick Jonas': 11, 'Kendrick Lamar': 12, 'Lizzo': 13, 'Doja Cat': 14, 'Sam Smith': 15, 'Adele': 16, 'BLACKPINK': 17, 'AKB48': 18, 'Ty Dolla Sign': 19, 'Bebe Rexha': 20, 'Sakura Gakuin': 21, 'AURORA': 22, 'IU': 23, 'Sabrina Carpenter': 24, 'Bob Marley': 25, 'Drake': 26, 'Fleetwood Mac': 27, 'Frank Ocean': 28, 'Israel Kamakawi': 29, 'Jordan Davis': 30, 'Taylor Swift': 31, 'Khalid': 32, 'Mac Miller': 33, 'The Weekend': 34, 'Lil Baby': 35, 'Lil Durk': 36, 'Post Malone': 37, 'SZA': 38, 'Roddy Rich': 39, 'Shawn Mendes': 40, '21 Savage': 41, '2PAC': 42, 'A boogie wit da hoodie': 43, 'Amine': 44, 'Arctic Monkeys': 45, 'Madonna': 46, 'Aaron May': 47, 'Baby Smoove': 48, 'Brent Faiyaz': 49, 'Capolow': 50, 'Childish Gambino': 51, 'Daniel Caesar': 52, 'Drakeo the Rule': 53, 'Dua Lipa': 54, 'Ed Sheeran': 55, 'Halsey': 56, 'Harry Styles': 57, 'Imagine Dragons': 58, 'J. Cole': 59, 'John Legend': 60, 'Kevin Gates': 61, 'Maroon 5': 62, 'Michael Jackson': 63, 'Nicki Minaj': 64, 'Rod Wave': 65, 'Young Slo-be': 66}

## Preparing Data

In [ ]:
r.index.names = ['UserID']
r.columns.names = ['artist']
r.head()

artist,Selena Gomez,BTS,Rihanna,Beyonce,Ariana Grande,Carrie Underwood,Justin Bieber,Miley Cyrus,Conan Gray,NewJeans,...,Harry Styles,Imagine Dragons,J. Cole,John Legend,Kevin Gates,Maroon 5,Michael Jackson,Nicki Minaj,Rod Wave,Young Slo-be
UserID,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,7.0,10.0,9.0,4.0,7.0,6.0,4.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,9.0,2.0,NaN,9.0,NaN,7.0,5.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,3.0,1.0,3.0,1.0,7.0,8.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,6.0,4.0,7.0,7.0,2.0,NaN,10.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,8.0,7.0,9.0,6.0,2.0,NaN,NaN,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
r = r.T.unstack().reset_index(level=1, name='ratings').rename(columns={'level_1':'artist'})[['ratings','artist']] # Useful function to turn each column name into its own column with corresponding values from dataset
r = r.reset_index()
r = r[['UserID', 'artist', 'ratings']]
r = r.dropna(how='any',axis=0)
r.head()

   UserID            artist  ratings
2       0           Rihanna      7.0
3       0           Beyonce     10.0
4       0     Ariana Grande      9.0
5       0  Carrie Underwood      4.0
6       0     Justin Bieber      7.0

In [ ]:
print(s.index)

Index(['Selena Gomez', 'BTS', 'Rihanna', 'Beyonce', 'Ariana Grande',
       'Carrie Underwood', 'Justin Bieber', 'Miley Cyrus', 'Conan Gray',
       'NewJeans', 'Camila Cabello', 'Nick Jonas', 'Kendrick Lamar', 'Lizzo',
       'Doja Cat', 'Sam Smith', 'Adele', 'BLACKPINK', 'AKB48', 'Ty Dolla Sign',
       'Bebe Rexha', 'Sakura Gakuin', 'AURORA', 'IU', 'Sabrina Carpenter',
       'Bob Marley', 'Drake', 'Fleetwood Mac', 'Frank Ocean',
       'Israel Kamakawi', 'Jordan Davis', 'Taylor Swift', 'Khalid',
       'Mac Miller', 'The Weekend', 'Lil Baby', 'Lil Durk', 'Post Malone',
       'SZA', 'Roddy Rich', 'Shawn Mendes', '21 Savage', '2PAC',
       'A boogie wit da hoodie', 'Amine', 'Arctic Monkeys', 'Madonna',
       'Aaron May', 'Baby Smoove', 'Brent Faiyaz', 'Capolow',
       'Childish Gambino', 'Daniel Caesar', 'Drakeo the Rule', 'Dua Lipa',
       'Ed Sheeran', 'Halsey', 'Harry Styles', 'Imagine Dragons', 'J. Cole',
       'John Legend', 'Kevin Gates', 'Maroon 5', 'Michael Jackson',
       'Nicki Minaj', 'Rod Wave', 'Young Slo-be'],
      dtype='object', name='artist')

In [ ]:
r2 = r.replace(list(s.index), list(artists.values()))
r2.head(10)

    UserID  artist  ratings
2        0       2      7.0
3        0       3     10.0
4        0       4      9.0
5        0       5      4.0
6        0       6      7.0
7        0       7      6.0
8        0       8      4.0
9        0       9      9.0
10       0      10      6.0
11       0      11      8.0

In [ ]:
r.head()

   UserID            artist  ratings
2       0           Rihanna      7.0
3       0           Beyonce     10.0
4       0     Ariana Grande      9.0
5       0  Carrie Underwood      4.0
6       0     Justin Bieber      7.0

# Deep Learning Model

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(r2, test_size=0.10, shuffle=True)
X_validation, X_test = train_test_split(X_test, test_size=0.50, shuffle=True)

In [ ]:
user = Model()
artist = Model()

In [ ]:
r.head()

   UserID            artist  ratings
2       0           Rihanna      7.0
3       0           Beyonce     10.0
4       0     Ariana Grande      9.0
5       0  Carrie Underwood      4.0
6       0     Justin Bieber      7.0

In [ ]:
users = r2['UserID'].unique().tolist()
n_users = len(users)
artists_ids = r2['artist'].unique().tolist()
n_artists = len(artists_ids)

In [ ]:
user_input = Input(shape=[1], dtype='int64')
# user_str = StringLookup(output_mode='int')(user_input)
user_embedding = Embedding(input_dim=len(r2['UserID'].unique().tolist())+1, output_dim=1)(user_input)
user_vec = Flatten()(user_embedding)

artist_input = Input(shape=[1], dtype='int64')
# artist_str = StringLookup(output_mode='int')(artist_input)
artist_embedding = Embedding(input_dim=len(r2['artist'].unique().tolist())+1, output_dim=1)(artist_input)
artist_vec = Flatten()(artist_embedding)

In [ ]:
product = dot([user_vec, artist_vec], axes=1)
model = Model(inputs=[user_input, artist_input], outputs=product)
model.compile('adam', 'mean_absolute_error', run_eagerly=True)

In [ ]:
X_train.dtypes

UserID       int64
artist       int64
ratings    float64
dtype: object

In [ ]:
# from keras import backend as K
# sess = tf.compat.v1.Session()
# K.set_session(sess)
from keras.callbacks import EarlyStopping

early_stopping_monitor = EarlyStopping(monitor="loss", patience=10)

model1 = model.fit(x=[X_train.UserID, X_train.artist],
                    y=X_train.ratings, epochs=200, callbacks=[early_stopping_monitor])

Epoch 1/200
 2/14 [===>..........................] - ETA: 5s - loss: 5.6249

WARNING:tensorflow:5 out of the last 6 calls to <function _BaseOptimizer._update_step_xla at 0x7f8399048d30> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

 3/14 [=====>........................] - ETA: 7s - loss: 5.6145

WARNING:tensorflow:6 out of the last 7 calls to <function _BaseOptimizer._update_step_xla at 0x7f8399048d30> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

14/14 [==============================] - 9s 510ms/step - loss: 5.6516
Epoch 2/200
14/14 [==============================] - 2s 127ms/step - loss: 5.6515
Epoch 3/200
14/14 [==============================] - 3s 214ms/step - loss: 5.6513
Epoch 4/200
14/14 [==============================] - 1s 40ms/step - loss: 5.6511
Epoch 5/200
14/14 [==============================] - 2s 116ms/step - loss: 5.6506
Epoch 6/200
14/14 [==============================] - 2s 123ms/step - loss: 5.6498
Epoch 7/200
14/14 [==============================] - 2s 128ms/step - loss: 5.6486
Epoch 8/200
14/14 [==============================] - 0s 28ms/step - loss: 5.6470
Epoch 9/200
14/14 [==============================] - 0s 27ms/step - loss: 5.6448
Epoch 10/200
14/14 [==============================] - 0s 22ms/step - loss: 5.6420
Epoch 11/200
14/14 [==============================] - 0s 21ms/step - loss: 5.6387
Epoch 12/200
14/14 [==============================] - 0s 21ms/step - loss: 5.6347
Epoch 13/200
14/14 [==============================] - 0s 21ms/step - loss: 5.6301
Epoch 14/200
14/14 [==============================] - 0s 21ms/step - loss: 5.6248
Epoch 15/200
14/14 [==============================] - 1s 37ms/step - loss: 5.6189
Epoch 16/200
14/14 [==============================] - 0s 21ms/step - loss: 5.6123
Epoch 17/200
14/14 [==============================] - 0s 20ms/step - loss: 5.6051
Epoch 18/200
14/14 [==============================] - 0s 20ms/step - loss: 5.5973
Epoch 19/200
14/14 [==============================] - 1s 37ms/step - loss: 5.5889
Epoch 20/200
14/14 [==============================] - 0s 20ms/step - loss: 5.5798
Epoch 21/200
14/14 [==============================] - 0s 23ms/step - loss: 5.5701
Epoch 22/200
14/14 [==============================] - 0s 22ms/step - loss: 5.5599
Epoch 23/200
14/14 [==============================] - 1s 37ms/step - loss: 5.5491
Epoch 24/200
14/14 [==============================] - 0s 20ms/step - loss: 5.5377
Epoch 25/200
14/14 [==============================] - 1s 37ms/step - loss: 5.5257
Epoch 26/200
14/14 [==============================] - 0s 20ms/step - loss: 5.5131
Epoch 27/200
14/14 [==============================] - 0s 20ms/step - loss: 5.5001
Epoch 28/200
14/14 [==============================] - 0s 20ms/step - loss: 5.4865
Epoch 29/200
14/14 [==============================] - 1s 37ms/step - loss: 5.4723
Epoch 30/200
14/14 [==============================] - 0s 21ms/step - loss: 5.4576
Epoch 31/200
14/14 [==============================] - 0s 21ms/step - loss: 5.4423
Epoch 32/200
14/14 [==============================] - 0s 22ms/step - loss: 5.4265
Epoch 33/200
14/14 [==============================] - 0s 22ms/step - loss: 5.4103
Epoch 34/200
14/14 [==============================] - 0s 21ms/step - loss: 5.3934
Epoch 35/200
14/14 [==============================] - 0s 21ms/step - loss: 5.3762
Epoch 36/200
14/14 [==============================] - 0s 21ms/step - loss: 5.3583
Epoch 37/200
14/14 [==============================] - 0s 21ms/step - loss: 5.3400
Epoch 38/200
14/14 [==============================] - 0s 21ms/step - loss: 5.3211
Epoch 39/200
14/14 [==============================] - 0s 27ms/step - loss: 5.3018
Epoch 40/200
14/14 [==============================] - 0s 28ms/step - loss: 5.2820
Epoch 41/200
14/14 [==============================] - 0s 27ms/step - loss: 5.2617
Epoch 42/200
14/14 [==============================] - 0s 28ms/step - loss: 5.2407
Epoch 43/200
14/14 [==============================] - 0s 27ms/step - loss: 5.2196
Epoch 44/200
14/14 [==============================] - 0s 29ms/step - loss: 5.1976
Epoch 45/200
14/14 [==============================] - 0s 27ms/step - loss: 5.1755
Epoch 46/200
14/14 [==============================] - 0s 20ms/step - loss: 5.1527
Epoch 47/200
14/14 [==============================] - 0s 21ms/step - loss: 5.1296
Epoch 48/200
14/14 [==============================] - 0s 21ms/step - loss: 5.1059
Epoch 49/200
14/14 [==============================] - 0s 21ms/step - loss: 5.0818
Epoch 50/200
14/14 [==============================] - 0s 21ms/step - loss: 5.0573
Epoch 51/200
14/14 [==============================] - 0s 21ms/step - loss: 5.0322
Epoch 52/200
14/14 [==============================] - 0s 21ms/step - loss: 5.0066
Epoch 53/200
14/14 [==============================] - 0s 21ms/step - loss: 4.9808
Epoch 54/200
14/14 [==============================] - 0s 21ms/step - loss: 4.9543
Epoch 55/200
14/14 [==============================] - 0s 21ms/step - loss: 4.9275
Epoch 56/200
14/14 [==============================] - 0s 21ms/step - loss: 4.9001
Epoch 57/200
14/14 [==============================] - 0s 21ms/step - loss: 4.8725
Epoch 58/200
14/14 [==============================] - 0s 21ms/step - loss: 4.8446
Epoch 59/200
14/14 [==============================] - 0s 21ms/step - loss: 4.8163
Epoch 60/200
14/14 [==============================] - 0s 22ms/step - loss: 4.7892
Epoch 61/200
14/14 [==============================] - 0s 21ms/step - loss: 4.7626
Epoch 62/200
14/14 [==============================] - 0s 20ms/step - loss: 4.7371
Epoch 63/200
14/14 [==============================] - 0s 21ms/step - loss: 4.7131
Epoch 64/200
14/14 [==============================] - 0s 21ms/step - loss: 4.6904
Epoch 65/200
14/14 [==============================] - 1s 37ms/step - loss: 4.6678
Epoch 66/200
14/14 [==============================] - 0s 23ms/step - loss: 4.6460
Epoch 67/200
14/14 [==============================] - 0s 22ms/step - loss: 4.6246
Epoch 68/200
14/14 [==============================] - 0s 21ms/step - loss: 4.6033
Epoch 69/200
14/14 [==============================] - 0s 23ms/step - loss: 4.5817
Epoch 70/200
14/14 [==============================] - 0s 22ms/step - loss: 4.5604
Epoch 71/200
14/14 [==============================] - 0s 22ms/step - loss: 4.5384
Epoch 72/200
14/14 [==============================] - 0s 23ms/step - loss: 4.5159
Epoch 73/200
14/14 [==============================] - 0s 21ms/step - loss: 4.4935
Epoch 74/200
14/14 [==============================] - 0s 21ms/step - loss: 4.4707
Epoch 75/200
14/14 [==============================] - 0s 20ms/step - loss: 4.4478
Epoch 76/200
14/14 [==============================] - 0s 22ms/step - loss: 4.4247
Epoch 77/200
14/14 [==============================] - 0s 21ms/step - loss: 4.4004
Epoch 78/200
14/14 [==============================] - 0s 29ms/step - loss: 4.3772
Epoch 79/200
14/14 [==============================] - 0s 27ms/step - loss: 4.3530
Epoch 80/200
14/14 [==============================] - 0s 26ms/step - loss: 4.3285
Epoch 81/200
14/14 [==============================] - 0s 30ms/step - loss: 4.3039
Epoch 82/200
14/14 [==============================] - 0s 26ms/step - loss: 4.2791
Epoch 83/200
14/14 [==============================] - 0s 29ms/step - loss: 4.2538
Epoch 84/200
14/14 [==============================] - 0s 25ms/step - loss: 4.2287
Epoch 85/200
14/14 [==============================] - 0s 21ms/step - loss: 4.2030
Epoch 86/200
14/14 [==============================] - 0s 20ms/step - loss: 4.1769
Epoch 87/200
14/14 [==============================] - 0s 21ms/step - loss: 4.1511
Epoch 88/200
14/14 [==============================] - 0s 21ms/step - loss: 4.1250
Epoch 89/200
14/14 [==============================] - 0s 20ms/step - loss: 4.0997
Epoch 90/200
14/14 [==============================] - 1s 37ms/step - loss: 4.0744
Epoch 91/200
14/14 [==============================] - 0s 22ms/step - loss: 4.0501
Epoch 92/200
14/14 [==============================] - 0s 21ms/step - loss: 4.0248
Epoch 93/200
14/14 [==============================] - 0s 22ms/step - loss: 4.0011
Epoch 94/200
14/14 [==============================] - 0s 21ms/step - loss: 3.9773
Epoch 95/200
14/14 [==============================] - 0s 22ms/step - loss: 3.9526
Epoch 96/200
14/14 [==============================] - 0s 21ms/step - loss: 3.9293
Epoch 97/200
14/14 [==============================] - 0s 22ms/step - loss: 3.9067
Epoch 98/200
14/14 [==============================] - 0s 21ms/step - loss: 3.8844
Epoch 99/200
14/14 [==============================] - 0s 21ms/step - loss: 3.8625
Epoch 100/200
14/14 [==============================] - 0s 21ms/step - loss: 3.8411
Epoch 101/200
14/14 [==============================] - 0s 21ms/step - loss: 3.8195
Epoch 102/200
14/14 [==============================] - 0s 20ms/step - loss: 3.7984
Epoch 103/200
14/14 [==============================] - 0s 21ms/step - loss: 3.7775
Epoch 104/200
14/14 [==============================] - 0s 20ms/step - loss: 3.7563
Epoch 105/200
14/14 [==============================] - 0s 20ms/step - loss: 3.7351
Epoch 106/200
14/14 [==============================] - 0s 21ms/step - loss: 3.7142
Epoch 107/200
14/14 [==============================] - 0s 21ms/step - loss: 3.6937
Epoch 108/200
14/14 [==============================] - 0s 21ms/step - loss: 3.6721
Epoch 109/200
14/14 [==============================] - 0s 21ms/step - loss: 3.6510
Epoch 110/200
14/14 [==============================] - 0s 21ms/step - loss: 3.6304
Epoch 111/200
14/14 [==============================] - 0s 20ms/step - loss: 3.6088
Epoch 112/200
14/14 [==============================] - 0s 21ms/step - loss: 3.5876
Epoch 113/200
14/14 [==============================] - 0s 20ms/step - loss: 3.5669
Epoch 114/200
14/14 [==============================] - 0s 23ms/step - loss: 3.5459
Epoch 115/200
14/14 [==============================] - 0s 21ms/step - loss: 3.5251
Epoch 116/200
14/14 [==============================] - 0s 20ms/step - loss: 3.5050
Epoch 117/200
14/14 [==============================] - 0s 30ms/step - loss: 3.4852
Epoch 118/200
14/14 [==============================] - 0s 25ms/step - loss: 3.4657
Epoch 119/200
14/14 [==============================] - 0s 27ms/step - loss: 3.4462
Epoch 120/200
14/14 [==============================] - 0s 28ms/step - loss: 3.4275
Epoch 121/200
14/14 [==============================] - 0s 25ms/step - loss: 3.4088
Epoch 122/200
14/14 [==============================] - 0s 27ms/step - loss: 3.3912
Epoch 123/200
14/14 [==============================] - 1s 38ms/step - loss: 3.3730
Epoch 124/200
14/14 [==============================] - 0s 21ms/step - loss: 3.3556
Epoch 125/200
14/14 [==============================] - 0s 24ms/step - loss: 3.3386
Epoch 126/200
14/14 [==============================] - 0s 20ms/step - loss: 3.3212
Epoch 127/200
14/14 [==============================] - 0s 20ms/step - loss: 3.3046
Epoch 128/200
14/14 [==============================] - 0s 22ms/step - loss: 3.2880
Epoch 129/200
14/14 [==============================] - 0s 21ms/step - loss: 3.2724
Epoch 130/200
14/14 [==============================] - 0s 21ms/step - loss: 3.2564
Epoch 131/200
14/14 [==============================] - 0s 21ms/step - loss: 3.2408
Epoch 132/200
14/14 [==============================] - 0s 21ms/step - loss: 3.2256
Epoch 133/200
14/14 [==============================] - 0s 21ms/step - loss: 3.2112
Epoch 134/200
14/14 [==============================] - 0s 21ms/step - loss: 3.1969
Epoch 135/200
14/14 [==============================] - 0s 22ms/step - loss: 3.1826
Epoch 136/200
14/14 [==============================] - 0s 20ms/step - loss: 3.1680
Epoch 137/200
14/14 [==============================] - 0s 21ms/step - loss: 3.1541
Epoch 138/200
14/14 [==============================] - 0s 22ms/step - loss: 3.1399
Epoch 139/200
14/14 [==============================] - 0s 21ms/step - loss: 3.1263
Epoch 140/200
14/14 [==============================] - 0s 21ms/step - loss: 3.1127
Epoch 141/200
14/14 [==============================] - 0s 21ms/step - loss: 3.0992
Epoch 142/200
14/14 [==============================] - 0s 21ms/step - loss: 3.0858
Epoch 143/200
14/14 [==============================] - 0s 20ms/step - loss: 3.0731
Epoch 144/200
14/14 [==============================] - 0s 21ms/step - loss: 3.0600
Epoch 145/200
14/14 [==============================] - 0s 20ms/step - loss: 3.0473
Epoch 146/200
14/14 [==============================] - 0s 21ms/step - loss: 3.0342
Epoch 147/200
14/14 [==============================] - 0s 21ms/step - loss: 3.0214
Epoch 148/200
14/14 [==============================] - 0s 21ms/step - loss: 3.0101
Epoch 149/200
14/14 [==============================] - 0s 21ms/step - loss: 2.9985
Epoch 150/200
14/14 [==============================] - 0s 21ms/step - loss: 2.9866
Epoch 151/200
14/14 [==============================] - 0s 20ms/step - loss: 2.9748
Epoch 152/200
14/14 [==============================] - 0s 21ms/step - loss: 2.9632
Epoch 153/200
14/14 [==============================] - 0s 21ms/step - loss: 2.9514
Epoch 154/200
14/14 [==============================] - 0s 21ms/step - loss: 2.9399
Epoch 155/200
14/14 [==============================] - 0s 21ms/step - loss: 2.9282
Epoch 156/200
14/14 [==============================] - 0s 30ms/step - loss: 2.9169
Epoch 157/200
14/14 [==============================] - 0s 29ms/step - loss: 2.9057
Epoch 158/200
14/14 [==============================] - 0s 27ms/step - loss: 2.8943
Epoch 159/200
14/14 [==============================] - 0s 27ms/step - loss: 2.8834
Epoch 160/200
14/14 [==============================] - 0s 25ms/step - loss: 2.8720
Epoch 161/200
14/14 [==============================] - 0s 32ms/step - loss: 2.8622
Epoch 162/200
14/14 [==============================] - 0s 25ms/step - loss: 2.8516
Epoch 163/200
14/14 [==============================] - 0s 21ms/step - loss: 2.8415
Epoch 164/200
14/14 [==============================] - 0s 21ms/step - loss: 2.8316
Epoch 165/200
14/14 [==============================] - 0s 21ms/step - loss: 2.8214
Epoch 166/200
14/14 [==============================] - 0s 21ms/step - loss: 2.8117
Epoch 167/200
14/14 [==============================] - 0s 22ms/step - loss: 2.8009
Epoch 168/200
14/14 [==============================] - 0s 21ms/step - loss: 2.7918
Epoch 169/200
14/14 [==============================] - 0s 20ms/step - loss: 2.7825
Epoch 170/200
14/14 [==============================] - 0s 20ms/step - loss: 2.7729
Epoch 171/200
14/14 [==============================] - 0s 21ms/step - loss: 2.7635
Epoch 172/200
14/14 [==============================] - 0s 20ms/step - loss: 2.7546
Epoch 173/200
14/14 [==============================] - 0s 20ms/step - loss: 2.7451
Epoch 174/200
14/14 [==============================] - 0s 20ms/step - loss: 2.7356
Epoch 175/200
14/14 [==============================] - 0s 21ms/step - loss: 2.7266
Epoch 176/200
14/14 [==============================] - 0s 21ms/step - loss: 2.7168
Epoch 177/200
14/14 [==============================] - 0s 20ms/step - loss: 2.7081
Epoch 178/200
14/14 [==============================] - 0s 21ms/step - loss: 2.6993
Epoch 179/200
14/14 [==============================] - 0s 22ms/step - loss: 2.6910
Epoch 180/200
14/14 [==============================] - 0s 21ms/step - loss: 2.6816
Epoch 181/200
14/14 [==============================] - 0s 22ms/step - loss: 2.6734
Epoch 182/200
14/14 [==============================] - 0s 22ms/step - loss: 2.6647
Epoch 183/200
14/14 [==============================] - 0s 22ms/step - loss: 2.6561
Epoch 184/200
14/14 [==============================] - 0s 20ms/step - loss: 2.6480
Epoch 185/200
14/14 [==============================] - 0s 21ms/step - loss: 2.6398
Epoch 186/200
14/14 [==============================] - 0s 21ms/step - loss: 2.6312
Epoch 187/200
14/14 [==============================] - 0s 21ms/step - loss: 2.6230
Epoch 188/200
14/14 [==============================] - 0s 22ms/step - loss: 2.6150
Epoch 189/200
14/14 [==============================] - 0s 22ms/step - loss: 2.6079
Epoch 190/200
14/14 [==============================] - 0s 23ms/step - loss: 2.5996
Epoch 191/200
14/14 [==============================] - 0s 24ms/step - loss: 2.5923
Epoch 192/200
14/14 [==============================] - 0s 24ms/step - loss: 2.5851
Epoch 193/200
14/14 [==============================] - 0s 24ms/step - loss: 2.5786
Epoch 194/200
14/14 [==============================] - 0s 25ms/step - loss: 2.5714
Epoch 195/200
14/14 [==============================] - 0s 33ms/step - loss: 2.5648
Epoch 196/200
14/14 [==============================] - 0s 29ms/step - loss: 2.5585
Epoch 197/200
14/14 [==============================] - 0s 28ms/step - loss: 2.5519
Epoch 198/200
14/14 [==============================] - 0s 27ms/step - loss: 2.5456
Epoch 199/200
14/14 [==============================] - 0s 28ms/step - loss: 2.5392
Epoch 200/200
14/14 [==============================] - 0s 29ms/step - loss: 2.5329

In [ ]:
type(model)

keras.engine.functional.Functional

In [ ]:
artists = {}
i = 0
for name in list(s.index):
  artists[name] = i
  i += 1

print(artists)
artists_id = list(artists.values())
print(artists_id)
artists_names = list(artists.keys())
print(artists_names)

{'Selena Gomez': 0, 'BTS': 1, 'Rihanna': 2, 'Beyonce': 3, 'Ariana Grande': 4, 'Carrie Underwood': 5, 'Justin Bieber': 6, 'Miley Cyrus': 7, 'Conan Gray': 8, 'NewJeans': 9, 'Camila Cabello': 10, 'Nick Jonas': 11, 'Kendrick Lamar': 12, 'Lizzo': 13, 'Doja Cat': 14, 'Sam Smith': 15, 'Adele': 16, 'BLACKPINK': 17, 'AKB48': 18, 'Ty Dolla Sign': 19, 'Bebe Rexha': 20, 'Sakura Gakuin': 21, 'AURORA': 22, 'IU': 23, 'Sabrina Carpenter': 24, 'Bob Marley': 25, 'Drake': 26, 'Fleetwood Mac': 27, 'Frank Ocean': 28, 'Israel Kamakawi': 29, 'Jordan Davis': 30, 'Taylor Swift': 31, 'Khalid': 32, 'Mac Miller': 33, 'The Weekend': 34, 'Lil Baby': 35, 'Lil Durk': 36, 'Post Malone': 37, 'SZA': 38, 'Roddy Rich': 39, 'Shawn Mendes': 40, '21 Savage': 41, '2PAC': 42, 'A boogie wit da hoodie': 43, 'Amine': 44, 'Arctic Monkeys': 45, 'Madonna': 46, 'Aaron May': 47, 'Baby Smoove': 48, 'Brent Faiyaz': 49, 'Capolow': 50, 'Childish Gambino': 51, 'Daniel Caesar': 52, 'Drakeo the Rule': 53, 'Dua Lipa': 54, 'Ed Sheeran': 55, 'Halsey': 56, 'Harry Styles': 57, 'Imagine Dragons': 58, 'J. Cole': 59, 'John Legend': 60, 'Kevin Gates': 61, 'Maroon 5': 62, 'Michael Jackson': 63, 'Nicki Minaj': 64, 'Rod Wave': 65, 'Young Slo-be': 66}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66]
['Selena Gomez', 'BTS', 'Rihanna', 'Beyonce', 'Ariana Grande', 'Carrie Underwood', 'Justin Bieber', 'Miley Cyrus', 'Conan Gray', 'NewJeans', 'Camila Cabello', 'Nick Jonas', 'Kendrick Lamar', 'Lizzo', 'Doja Cat', 'Sam Smith', 'Adele', 'BLACKPINK', 'AKB48', 'Ty Dolla Sign', 'Bebe Rexha', 'Sakura Gakuin', 'AURORA', 'IU', 'Sabrina Carpenter', 'Bob Marley', 'Drake', 'Fleetwood Mac', 'Frank Ocean', 'Israel Kamakawi', 'Jordan Davis', 'Taylor Swift', 'Khalid', 'Mac Miller', 'The Weekend', 'Lil Baby', 'Lil Durk', 'Post Malone', 'SZA', 'Roddy Rich', 'Shawn Mendes', '21 Savage', '2PAC', 'A boogie wit da hoodie', 'Amine', 'Arctic Monkeys', 'Madonna', 'Aaron May', 'Baby Smoove', 'Brent Faiyaz', 'Capolow', 'Childish Gambino', 'Daniel Caesar', 'Drakeo the Rule', 'Dua Lipa', 'Ed Sheeran', 'Halsey', 'Harry Styles', 'Imagine Dragons', 'J. Cole', 'John Legend', 'Kevin Gates', 'Maroon 5', 'Michael Jackson', 'Nicki Minaj', 'Rod Wave', 'Young Slo-be']

In [ ]:
artists2 = {}
i = 0
for name in list(s.index):
  artists2[i] = name
  i += 1

print(artists2)

{0: 'Selena Gomez', 1: 'BTS', 2: 'Rihanna', 3: 'Beyonce', 4: 'Ariana Grande', 5: 'Carrie Underwood', 6: 'Justin Bieber', 7: 'Miley Cyrus', 8: 'Conan Gray', 9: 'NewJeans', 10: 'Camila Cabello', 11: 'Nick Jonas', 12: 'Kendrick Lamar', 13: 'Lizzo', 14: 'Doja Cat', 15: 'Sam Smith', 16: 'Adele', 17: 'BLACKPINK', 18: 'AKB48', 19: 'Ty Dolla Sign', 20: 'Bebe Rexha', 21: 'Sakura Gakuin', 22: 'AURORA', 23: 'IU', 24: 'Sabrina Carpenter', 25: 'Bob Marley', 26: 'Drake', 27: 'Fleetwood Mac', 28: 'Frank Ocean', 29: 'Israel Kamakawi', 30: 'Jordan Davis', 31: 'Taylor Swift', 32: 'Khalid', 33: 'Mac Miller', 34: 'The Weekend', 35: 'Lil Baby', 36: 'Lil Durk', 37: 'Post Malone', 38: 'SZA', 39: 'Roddy Rich', 40: 'Shawn Mendes', 41: '21 Savage', 42: '2PAC', 43: 'A boogie wit da hoodie', 44: 'Amine', 45: 'Arctic Monkeys', 46: 'Madonna', 47: 'Aaron May', 48: 'Baby Smoove', 49: 'Brent Faiyaz', 50: 'Capolow', 51: 'Childish Gambino', 52: 'Daniel Caesar', 53: 'Drakeo the Rule', 54: 'Dua Lipa', 55: 'Ed Sheeran', 56: 'Halsey', 57: 'Harry Styles', 58: 'Imagine Dragons', 59: 'J. Cole', 60: 'John Legend', 61: 'Kevin Gates', 62: 'Maroon 5', 63: 'Michael Jackson', 64: 'Nicki Minaj', 65: 'Rod Wave', 66: 'Young Slo-be'}

In [ ]:
def user_pred(likes, pred_dict, r2=r2):
  r3 = r2.loc[r2['UserID'] != 0].copy()
  index = int(r3.tail(1).index.item())+1
  for i in likes:
    ar = artists[i]
    r3.loc[index] = [0, ar, likes[i]]
    index += 1
  X_train, X_test = train_test_split(r3, test_size=0.20, shuffle=True)
  model1 = model.fit(x=[X_train.UserID, X_train.artist],
                    y=X_train.ratings, epochs=200, callbacks=[early_stopping_monitor], verbose=0)
  for i in list(artists.values()):
    print(prediction(0, i, pred_dict, r3))

def prediction(user_id, artist, predict_dict, r3):
  dim1 = np.array([user_id])
  dim2 = np.array([artist])
  pred = [dim1, dim2]
  p = model.predict(pred, verbose=0).flatten()[0]
  a = artists2[artist] # get artist name from the id passed
  predict_dict[a] = p
  return f'{a}: {p}'

In [ ]:
my_likes = {
    'BLACKPINK': 10.0,
    'Shawn Mendes': 10.0,
    'Selena Gomez': 10.0,
    'Carrie Underwood': 10.0,
    'BTS': 10.0,
    'Camila Cabello': 8.0,
    'Drake': 10.0,
    'Miley Cyrus': 10.0
}

predict = {}

user_pred(my_likes, predict)

Selena Gomez: 5.631424903869629
BTS: 7.180567264556885
Rihanna: 3.6112489700317383
Beyonce: 6.316577911376953
Ariana Grande: 5.628373146057129
Carrie Underwood: 6.688653469085693
Justin Bieber: 7.519956588745117
Miley Cyrus: 8.459893226623535
Conan Gray: 6.361104965209961
NewJeans: 4.783611297607422
Camila Cabello: 8.041460037231445
Nick Jonas: 4.70451545715332
Kendrick Lamar: 6.132256507873535
Lizzo: 5.020298480987549
Doja Cat: 5.395459175109863
Sam Smith: 5.374671459197998
Adele: 5.888898849487305
BLACKPINK: 4.698750972747803
AKB48: 5.0192365646362305
Ty Dolla Sign: 5.625936508178711
Bebe Rexha: 6.701877593994141
Sakura Gakuin: 7.197940349578857
AURORA: 4.7719597816467285
IU: 4.6893720626831055
Sabrina Carpenter: 6.310352802276611
Bob Marley: 5.754105091094971
Drake: 6.732334136962891
Fleetwood Mac: 6.002638339996338
Frank Ocean: 6.121548175811768
Israel Kamakawi: 6.737593650817871
Jordan Davis: 6.729793071746826
Taylor Swift: 2.510498046875
Khalid: 5.887280464172363
Mac Miller: 5.153413772583008
The Weekend: 5.98429012298584
Lil Baby: 5.8584418296813965
Lil Durk: 7.535964488983154
Post Malone: 3.5045454502105713
SZA: 6.918214797973633
Roddy Rich: 5.244330883026123
Shawn Mendes: 5.216719627380371
21 Savage: 4.290633678436279
2PAC: 8.584810256958008
A boogie wit da hoodie: 5.198094367980957
Amine: 5.153164863586426
Arctic Monkeys: 6.871846675872803
Madonna: 5.659005165100098
Aaron May: 6.697727203369141
Baby Smoove: 6.696585178375244
Brent Faiyaz: 6.709188461303711
Capolow: 6.70072078704834
Childish Gambino: 7.536104679107666
Daniel Caesar: 5.521043300628662
Drakeo the Rule: 6.69298791885376
Dua Lipa: 2.5090787410736084
Ed Sheeran: 3.945939302444458
Halsey: 1.6705362796783447
Harry Styles: 4.184718132019043
Imagine Dragons: 4.183907985687256
J. Cole: 8.367090225219727
John Legend: 5.015526294708252
Kevin Gates: 4.789392471313477
Maroon 5: 3.160184860229492
Michael Jackson: 5.025611400604248
Nicki Minaj: 6.697210311889648
Rod Wave: 7.54119873046875
Young Slo-be: 6.703798294067383

In [ ]:
predict_sorted = sorted(predict.items(), key = lambda x:x[1], reverse = True)
print(predict_sorted)

[('2PAC', 8.58481), ('Miley Cyrus', 8.459893), ('J. Cole', 8.36709), ('Camila Cabello', 8.04146), ('Rod Wave', 7.5411987), ('Childish Gambino', 7.5361047), ('Lil Durk', 7.5359645), ('Justin Bieber', 7.5199566), ('Sakura Gakuin', 7.1979403), ('BTS', 7.1805673), ('SZA', 6.918215), ('Arctic Monkeys', 6.8718467), ('Israel Kamakawi', 6.7375937), ('Drake', 6.732334), ('Jordan Davis', 6.729793), ('Brent Faiyaz', 6.7091885), ('Young Slo-be', 6.7037983), ('Bebe Rexha', 6.7018776), ('Capolow', 6.700721), ('Aaron May', 6.697727), ('Nicki Minaj', 6.6972103), ('Baby Smoove', 6.696585), ('Drakeo the Rule', 6.692988), ('Carrie Underwood', 6.6886535), ('Conan Gray', 6.361105), ('Beyonce', 6.316578), ('Sabrina Carpenter', 6.310353), ('Kendrick Lamar', 6.1322565), ('Frank Ocean', 6.121548), ('Fleetwood Mac', 6.0026383), ('The Weekend', 5.98429), ('Adele', 5.888899), ('Khalid', 5.8872805), ('Lil Baby', 5.858442), ('Bob Marley', 5.754105), ('Madonna', 5.659005), ('Selena Gomez', 5.631425), ('Ariana Grande', 5.628373), ('Ty Dolla Sign', 5.6259365), ('Daniel Caesar', 5.5210433), ('Doja Cat', 5.395459), ('Sam Smith', 5.3746715), ('Roddy Rich', 5.244331), ('Shawn Mendes', 5.2167196), ('A boogie wit da hoodie', 5.1980944), ('Mac Miller', 5.153414), ('Amine', 5.153165), ('Michael Jackson', 5.0256114), ('Lizzo', 5.0202985), ('AKB48', 5.0192366), ('John Legend', 5.0155263), ('Kevin Gates', 4.7893925), ('NewJeans', 4.7836113), ('AURORA', 4.77196), ('Nick Jonas', 4.7045155), ('BLACKPINK', 4.698751), ('IU', 4.689372), ('21 Savage', 4.2906337), ('Harry Styles', 4.184718), ('Imagine Dragons', 4.183908), ('Ed Sheeran', 3.9459393), ('Rihanna', 3.611249), ('Post Malone', 3.5045455), ('Maroon 5', 3.1601849), ('Taylor Swift', 2.510498), ('Dua Lipa', 2.5090787), ('Halsey', 1.6705363)]

In [ ]:
recc = pd.DataFrame.from_dict(predict_sorted)
recc.head(10)

                  0         1
0              2PAC  8.584810
1       Miley Cyrus  8.459893
2           J. Cole  8.367090
3    Camila Cabello  8.041460
4          Rod Wave  7.541199
5  Childish Gambino  7.536105
6          Lil Durk  7.535964
7     Justin Bieber  7.519957
8     Sakura Gakuin  7.197940
9               BTS  7.180567